.main-information {
  padding-top: 46px;

  &__title {
    position: relative;
    margin: 0 auto;
    padding-bottom: 35px;
//    max-width: 220px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    font-weight: 300;

    &:after {
      position: absolute;
      content: "";
      bottom: -32px;
      left: 0;
      width: 100%;
      height: 32px;
      background-image: linear-gradient(to right bottom, #fff 50%, #f2f2f2 50%);
    }
  }

  &__items {
    padding: 83px 0 317px;
    background-color: #f2f2f2;
  }

  &__item {
    margin: 0 20px 20px;
    text-align: center;
  }

  &__item-image {

  }

  &__item-title {
    margin: 0 0 11px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  &__item-text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }
}
